<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home</title>
</head>

<body>
    <div class="home" id="homeContainer">
        <h1 id="introText">Provide a record of feature values and receive an expert score or the weakest link</h1>
        <div id="buttons">
            <a href="eval_score">Expert score</a>
            <a href="eval_weaklink">Weakest link</a>
        </div>
    </div>
</body>

</html>